<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <%- include('partials/navbar', { page: "" }) %>

  <main class="container mx-auto p-6">
    <div class="hero bg-base-200 rounded-lg p-6 mt-8 mb-8">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">404 - Not Found</h1>

          <p class="py-6"><%= message %></p>

        </div>
      </div>
    </div>
  </main>
</body>

</html>